.input-container {
	display: grid;
	grid-template-rows: 200px 50px;
	grid-template-columns: 300px 300px;
	grid-template-areas: "inputArea previewArea" "buttonArea buttonArea";
	grid-gap: 10px;
}

.inputArea {
	grid-area: inputArea;
	display: grid;
}

.previewArea {
	grid-area: previewArea;
	display: grid;
}

.buttonArea {
	grid-area: buttonArea;
	display: grid;
	justify-items: center;
	align-items: center;
}